# Introduction to Python Collections
Python provides four main types of collections (data structures) that are widely used to store and manipulate groups of data:

- List: Ordered, changeable, allows duplicate elements.
- Tuple: Ordered, unchangeable (immutable), allows duplicate elements.
- Set: Unordered, no duplicates allowed.
- Dictionary: Unordered, changeable, no duplicates, stores key-value pairs.

## List:

- Ordered: The items have a defined order.
- Changeable: We can add, remove, and change list items.
- Allows duplicates: Lists can have items with the same value.

In [82]:
# Example of a list
fruits = ['Apple', 'Sharifa', 'Mango','Cherry','Banana']
print(fruits)

['Apple', 'Sharifa', 'Mango', 'Cherry', 'Banana']

In [83]:
print(type(fruits))

<class 'list'>

In [84]:
# index     0         1           2       3          4       5
#fruits = ['Apple', 'Sharifa', 'Mango','Cherry','Banana',"Zarifa"]
# -ve       -6        -5       -4         -3      -2       -1

In [85]:
# Accessing the first item
print(fruits[0])  # Output: apple

Apple

In [87]:
A = "ABC"
print(A[0])  # Output: A

A

In [88]:
A[0] = "d"

TypeError: 'str' object does not support item assignment

In [86]:
# Changing the second item
fruits[1] = "blueberry"
print(fruits)  # Output: ['apple', 'blueberry', 'cherry']

['Apple', 'blueberry', 'Mango', 'Cherry', 'Banana']

In [6]:
fruits.append("orange")  # Adds 'orange' to the end
fruits

['Apple', 'blueberry', 'Mango', 'Cherry', 'Banana', 'orange']

In [7]:
fruits

['Apple', 'blueberry', 'Mango', 'Cherry', 'Banana', 'orange']

In [8]:
# Create
# Retrieve
# Update 
# Delete
# Slice

In [9]:
empty_list = []

In [10]:
len(fruits)

6

In [11]:
len(empty_list)

0

the min() function returns the smallest element in an iterable (like a list)

In Python, 'A' is considered smaller than 'a'

In [12]:

ord('A')

65

In [13]:
ord('a')

97

The min() function will compare these strings lexicographically based on their first letter.
- 'Apple' starts with an uppercase 'A'.
- 'Sharifa' starts with an uppercase 'S'.
- 'Mango' starts with an uppercase 'M'.
- 'Cherry' starts with an uppercase 'C'.
- 'Banana' starts with an uppercase 'B'.

In [14]:
min(fruits)

'Apple'

In [15]:
fruits[2]

'Mango'

In [16]:
fruits[-4]

'Mango'

In [17]:
fruits[-1] = "WaterMelon"
fruits

['Apple', 'blueberry', 'Mango', 'Cherry', 'Banana', 'WaterMelon']

### Adding more items in existing list
    - append()
    - insert()
    -  + 
    - extend()

In [18]:
# append()
# it adds new item on very last index (tail of list)
# it add one item at a time

empty_list.append("Laptops")
print(empty_list)

['Laptops']

In [19]:
empty_list.append(200000)
empty_list

['Laptops', 200000]

In [20]:
# we can add new item in existing list using insert function
# insert function takes two arguments position and value

empty_list.insert(2,"Keybords")
empty_list

['Laptops', 200000, 'Keybords']

In [21]:
# adding a value on NON EXISTING index will add the value at very LAST index
empty_list.insert(12,"Projectors")
empty_list

['Laptops', 200000, 'Keybords', 'Projectors']

In [22]:
empty_list[3]

'Projectors'

In [23]:
# adding a value on Already EXISTING index will add the value at the said position and will move the values further
empty_list.insert(1,"Mouse")
empty_list

['Laptops', 'Mouse', 200000, 'Keybords', 'Projectors']

In [24]:
## Create two sample lists
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

# use extend() to add elements of list2 at the end of list1 but create new list
list3 = []
list3.append(list1)
list3.extend(list2)
list3

[[1, 2, 3, 4, 5], 6, 7, 8, 9, 10]

In [25]:
list3[0]

[1, 2, 3, 4, 5]

In [26]:
# Correct way to do it will be concatenation

list4 = list1 + list2
list4

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Deleting items from a list
   - del 
   - pop() 
   - remove()
   - clear()

In [32]:
# Explain del()

# del() is a keyword in Python that is used to delete an item from a list or remove a variable from the local or global namespace.

# Example 1: Deleting an item from a list
# Create a list of fruits
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Print the list before deleting an item
print(fruits)

# Delete the item at index 2
del fruits[2]

# Print the list after deleting an item
print(fruits)

['apple', 'banana', 'cherry', 'date', 'elderberry']
['apple', 'banana', 'date', 'elderberry']

In [33]:
# pop deletes a member permanently
# pop automatically deletes from last index
# pop can also take an index 
# pop return the deleted value
fruits.pop()

'elderberry'

In [34]:
popped_item = fruits.pop(2)
print(fruits)
popped_item

['apple', 'banana']

'date'

In [35]:
fruits = ['Apple', 'Sharifa', 'Mango', 'Cherry', 'Banana', 'WaterMelon']

In [36]:
# remove removes an item by value
# permanent
fruits.remove('Cherry')

In [37]:
fruits

['Apple', 'Sharifa', 'Mango', 'Banana', 'WaterMelon']

In [38]:
fruits.remove('mango')

ValueError: list.remove(x): x not in list

In [39]:
fruits_eaten = fruits.copy()
# pass by value
# creates new memory

In [48]:
print(id(fruits))
print(id(fruits_eaten))

2615546010944
2615546169920

In [42]:
fruits.pop()

'WaterMelon'

In [43]:
fruits_eaten

['Apple', 'Sharifa', 'Mango', 'Banana', 'WaterMelon']

In [44]:
fruits = ['Apple', 'Sharifa', 'Mango', 'Cherry', 'Banana', 'WaterMelon']
fruits_bought = fruits
# pass by reference
# pass the address

In [47]:
print(id(fruits))
print(id(fruits_bought))

2615546010944
2615546010944

In [49]:
fruits.pop()

'WaterMelon'

In [50]:
fruits_bought

['Apple', 'Sharifa', 'Mango', 'Cherry', 'Banana']

In [51]:
# return how many times a member is present in the list.
fruits.count('Banana')

1

In [52]:
fruits.index('Sharifa')

1

In [53]:
# # Slicing 
#      - slicing string
#      - slicing list 
     
#      - It copies of the subset of values in a collection

In [54]:
#     -9  -8 -7 -6 -5 -4 -3 -2 -1  
nums= [11,22,33,44,55,66,77,88,99]
#       0  1  2  3  4  5  6  7  8
nums

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [55]:
nums[3]

44

In [56]:
sliced = nums[2:5] # num[start, end]
sliced

[33, 44, 55]

In [57]:
nums[:4]

[11, 22, 33, 44]

In [58]:
nums[4:]

[55, 66, 77, 88, 99]

In [59]:
nums[10:12]

[]

In [60]:
nums[-6:-3]

[44, 55, 66]

In [61]:
nums[3:4]

[44]

In [62]:
nums[7:1]

[]

In [63]:
#     -9  -8 -7 -6 -5 -4 -3 -2 -1  
nums= [11,22,33,44,55,66,77,88,99]
#       0  1  2  3  4  5  6  7  8

In [64]:
nums[1:7:2]# num[s,e,step]

[22, 44, 66]

In [65]:
nums[7:1:-1]

[88, 77, 66, 55, 44, 33]

In [66]:
nums[::-1]

[99, 88, 77, 66, 55, 44, 33, 22, 11]

In [67]:
nums[-7:4]

[33, 44]

In [68]:
nums[-2:2:-1]

[88, 77, 66, 55, 44]

In [69]:
# String Slicing
text = "a day without python is empty day"

In [70]:
text[4:9]

'y wit'

In [71]:
text[::-1]

'yad ytpme si nohtyp tuohtiw yad a'

In [72]:
text

'a day without python is empty day'

In [73]:
test = "hello"

In [75]:
test[::-1]

'olleh'

In [76]:
text

'a day without python is empty day'

In [77]:
splitted = text.split(' ')
splitted

['a', 'day', 'without', 'python', 'is', 'empty', 'day']

In [78]:
reversed = splitted[::-1]
reversed

['day', 'empty', 'is', 'python', 'without', 'day', 'a']

In [79]:
' '.join(reversed)

'day empty is python without day a'

In [80]:
" ".join(['a','b'])

'a b'

In [81]:
" ".join(text.split()[::-1])

'day empty is python without day a'