**Create a Pyramid of Numbers Using Only print()**

In [15]:

 #   1
 #  1 2
 # 1 2 3
 #1 2 3 4
#1 2 3 4 5

In [1]:
print("    1\n   1 2\n  1 2 3\n 1 2 3 4\n1 2 3 4 5")

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

# Data Types

In [18]:
type("Pakistan")

str

In [19]:
type(123)

int

In [20]:
type(12.3)

float

In [21]:
type(True)

bool

In [22]:
type([1,2,3,4,5])

list

In [23]:
type((1,2,3,4,5))

tuple

In [24]:
type({1,2,3,4,5})

set

In [25]:
type({"name":"Ali", "age":23})

dict

In [26]:
type(None)

NoneType

The identity is a unique integer that acts as the object's memory address (the location where the object is stored in memory).

The value returned is guaranteed to be unique and constant for the object during its lifetime.

In [28]:
a=id(10)
a

140719433337560

# String

In [29]:
country = "United States"

In [30]:
type(country)

str

In [31]:
len(country)

13

The count() method requires an argument, which is the substring or character to search for in the string.

In [34]:
country.count("t")

3

In [36]:
country = "United States"
country.count("United")  # Count how many times "United" appears

1

In [37]:
country.count('ed')

1

Index:   0 1 2 3 4 5 6 7 8 9 10 11

String:  U n i t e d   S t a t e s

If the substring is not found, the method returns -1

In [43]:
country.find('o')

-1

In [44]:
country.endswith('s')

True

In [47]:
country.startswith('u')

False

In [46]:
country.startswith('U')

True

The isalpha() method in Python checks whether all characters in a string are alphabetic (letters)

In [48]:
country.isalpha()

False

In [49]:
" ".isspace()

True

The isspace() method in Python checks whether all characters in a string are whitespace characters (like spaces, tabs, newlines)

In [50]:
country.isspace()

False

In [51]:
text = "Three Little Ducks"

In [52]:
splitted= text.split(' ')
splitted

['Three', 'Little', 'Ducks']

In [53]:
joined = ' '.join(splitted)
joined

'Three Little Ducks'

In [54]:
text.replace('Ducks','Cats')

'Three Little Cats'

In [59]:
name = ' abc '

In [56]:
name.lstrip()

'abc '

In [60]:
name.strip()

'abc'

In [61]:
name

' abc '

In [62]:
name = name.strip()

In [63]:
name

'abc'

# Type Casting

In [65]:
name = "Nabeel"
age = 32

In [66]:
str(age)

'32'

In [68]:
# Example: Arithmetic Operations
a = 15
b = 4

print("Addition:", a + b)  # 15 + 4
print("Subtraction:", a - b)  # 15 - 4
print("Multiplication:", a * b)  # 15 * 4
print("Division:", a / b)  # 15 / 4
print("Exponentiation:", a ** b)  # 15^4
print("Modulus:", a % b)  # 15 % 4 (remainder)

Addition: 19
Subtraction: 11
Multiplication: 60
Division: 3.75
Exponentiation: 50625
Modulus: 3

In [73]:
# Example: Input and Output
name = input("Enter your name: ")  # Taking input from the user
age = input("Enter your age: ")

print("Hello, " + name + "! You are " + age + " years old.")  # Displaying the output

Hello, nabeel! You are 32 years old.

In [72]:
# Example: Simple Calculator
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Performing addition, subtraction, multiplication, and division
print("Sum:", num1 + num2)
print("Difference:", num1 - num2)
print("Product:", num1 * num2)
print("Quotient:", num1 / num2)

Sum: 9.0
Difference: -1.0
Product: 20.0
Quotient: 0.8