# Accessing a Specific Digit from a Number

- Ask the user to input a number (first number)
- Ask the user to input another numbger, which will be trated as specific digit from first number
- Print the digit of (first number) at the specified number (second number)

# Some tricks

In [13]:
# to get the last digit of a number
# if we take modulus with 10 itwill return last digit
13235465760%10

0

In [14]:
# to get the last two digits of a number
# if we take modulus with 100 it will return last two digits
13235465769%100

69

In [2]:
# Using str.format()
name = "Nabeel"
age = "32"
print("Hello {}, you are {} years old.".format(name, age))

Hello Nabeel, you are 32 years old.

In [3]:
# String Concatenation
print("Hello " + name + ", you are " + str(age) + " years old.")

Hello Nabeel, you are 32 years old.

In [4]:
print(f"Hello {name}, you are {age} years old.")

Hello Nabeel, you are 32 years old.

# Conditional statments 
- if statement
- if else
- elif

In [1]:
num1 = int(input("Enter a number"))
num2 = int(input("Eneter another number"))

if  num1 > num2:
    print("Num1 is greater than num2")
    
else:
    print("Num1 is not greater than num2")

Num1 is not greater than num2

In [17]:
# Ask the user to input their username
username = input("Enter username (less then 10 characters): ")

# Check if the length of the username is greater than 10
if len(username) > 10:
    # If the username length is greater than 10, print "Bigname"
    print("Too Large")
else:
    # If the username length is 10 or less, print "ok"
    print("Ok")

Ok

In [19]:
# This code checks the length of the user's input in a single line.
# If the input length is greater than 10, it prints "Too big".
# Otherwise, it prints "Ok".
print("Too big" if len(input()) > 10 else "Ok")

Ok

In [22]:
# Import the random module to generate a random number
import random

# Ask the user to input their guess and convert it to an integer
guess = int(input("Enter your guess number 1-10: "))

# Generate a random number between 1 and 10 using random.randint
lucky_number = random.randint(1, 10)

# Check if the user's guess matches the random number
if guess == lucky_number:
    # If the guess is correct, print a winning message with the guessed number
    print(f"You guessed {guess}. You win!")
else:
    # If the guess is incorrect, print a message showing the guessed number and the correct number
    print(f"You guessed {guess}, but the lucky number was {lucky_number}. Try Again.")

You guessed 5, but the lucky number was 2. Try Again.

In [28]:
# Step 1: Ask the user to input their height (in any unit, e.g., feet, meters) and convert it to a float
height = float(input("Enter a number for height(ft): "))

# Step 2: Check the height to categorize it into 'Tall', 'Average', or 'Short'
# If height is greater than 6, print "Tall man"
if height > 6:
    print("Tall man")
# Else if height is greater than 5 but less than or equal to 6, print "Average"
elif height > 5:
    print('Average')
# Else, if height is less than or equal to 5, print "Short"
else:
    print("Short")

Tall man

## Task for Students: Budget-Based Decision Making

Write a Python program that performs the following steps:

- Ask the user to input their budget.
- If the budget is more than 1000, print "Mutton" (indicating the user can afford 1 kg of meat).
- If the budget is more than 500 but less than or equal to 1000, print "Eggs" (indicating the user can afford 12 eggs).
- If the budget is 500 or less, print "keep fast"

# Introduction to Python Collections
Python provides four main types of collections (data structures) that are widely used to store and manipulate groups of data:

- List: Ordered, changeable, allows duplicate elements.
- Tuple: Ordered, unchangeable (immutable), allows duplicate elements.
- Set: Unordered, no duplicates allowed.
- Dictionary: Unordered, changeable, no duplicates, stores key-value pairs.

## List:

- Ordered: The items have a defined order.
- Changeable: We can add, remove, and change list items.
- Allows duplicates: Lists can have items with the same value.

In [41]:
# Example of a list
fruits = ['Apple', 'Sharifa', 'Mango','Cherry','Banana']
print(fruits)

['Apple', 'Sharifa', 'Mango', 'Cherry', 'Banana']

In [42]:
print(type(fruits))

<class 'list'>

In [43]:
# index     0         1           2       3          4       5
#fruits = ['Apple', 'Sharifa', 'Mango','Cherry','Banana',"Zarifa"]
# -ve       -6        -5       -4         -3      -2       -1

In [44]:
# Accessing the first item
print(fruits[0])  # Output: apple

Apple

In [45]:
# Changing the second item
fruits[1] = "blueberry"
print(fruits)  # Output: ['apple', 'blueberry', 'cherry']

['Apple', 'blueberry', 'Mango', 'Cherry', 'Banana']

In [46]:
fruits.append("orange")  # Adds 'orange' to the end
fruits

['Apple', 'blueberry', 'Mango', 'Cherry', 'Banana', 'orange']

In [48]:
fruits

['Apple', 'blueberry', 'Mango', 'Cherry', 'Banana', 'orange']

In [49]:
# Create
# Retrieve
# Update 
# Delete
# Slice

In [50]:
empty_list = []

In [51]:
len(fruits)

6

In [52]:
len(empty_list)

0

the min() function returns the smallest element in an iterable (like a list)

In Python, 'A' is considered smaller than 'a'

In [54]:
ord('A')

65

In [55]:
ord('a')

97

The min() function will compare these strings lexicographically based on their first letter.
- 'Apple' starts with an uppercase 'A'.
- 'Sharifa' starts with an uppercase 'S'.
- 'Mango' starts with an uppercase 'M'.
- 'Cherry' starts with an uppercase 'C'.
- 'Banana' starts with an uppercase 'B'.

In [53]:
min(fruits)

'Apple'

In [56]:
fruits[2]

'Mango'

In [57]:
fruits[-4]

'Mango'

In [58]:
fruits[-1] = "WaterMelon"
fruits

['Apple', 'blueberry', 'Mango', 'Cherry', 'Banana', 'WaterMelon']

### Adding more items in existing list
    - append()
    - insert()
    -  + 
    - extend()

In [59]:
empty_list

[]

In [60]:
# append()
# it adds new item on very last index (tail of list)
# it add one item at a time

empty_list.append("Laptops")
print(empty_list)

['Laptops']

In [61]:
empty_list.append(200000)
empty_list

['Laptops', 200000]

In [62]:
# we can add new item in existing list using insert function
# insert function takes two arguments position and value

empty_list.insert(2,"Keybords")
empty_list

['Laptops', 200000, 'Keybords']

In [63]:
# adding a value on NON EXISTING index will add the value at very LAST index
empty_list.insert(12,"Projectors")
empty_list

['Laptops', 200000, 'Keybords', 'Projectors']

In [65]:
empty_list[3]

'Projectors'

In [67]:
# adding a value on Already EXISTING index will add the value at the said position and will move the values further
empty_list.insert(1,"Mouse")
empty_list

['Laptops', 'Mouse', 'Mouse', 200000, 'Keybords', 'Projectors']

In [72]:
## Create two sample lists
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

# use extend() to add elements of list2 at the end of list1 but create new list
list3 = []
list3.append(list1)
list3.extend(list2)
list3

[[1, 2, 3, 4, 5], 6, 7, 8, 9, 10]

In [74]:
list3[0]

[1, 2, 3, 4, 5]

In [75]:
# Correct way to do it will be concatenation

list4 = list1 + list2
list4

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Deleting items from a list
   - del 
   - pop() 
   - remove()
   - clear()

In [76]:
# Explain del()

# del() is a keyword in Python that is used to delete an item from a list or remove a variable from the local or global namespace.

# Example 1: Deleting an item from a list
# Create a list of fruits
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Print the list before deleting an item
print(fruits)

# Delete the item at index 2
del fruits[2]

# Print the list after deleting an item
print(fruits)

['apple', 'banana', 'cherry', 'date', 'elderberry']
['apple', 'banana', 'date', 'elderberry']